.checkout {
    background-color: #f2f2f2;
    height: 100vh;
    &__header {
        background-color: #343a40;
        min-height: 5em;
        padding: 2em;
        &__brand {
            color: white;
        }
    }

    &__main {
        // background-color:
        padding: 1em 4em;
    }

    &__title {
        padding-top: 3em;
    }

    &__tile {
        background-color: #fff;
        color: #000;
        border-radius: 0.5em;
        min-height: 5em;
        padding: 1em;
    }

    &__list {
        padding: 0.5em;
    }

    &__total {
        font-weight: bold;
        font-size: 2.5em;
        justify-content: flex-end;
        padding-top: 1em;
    }
}
