.checkout {
    background-color: #f2f2f2;
    height: 100vh;
    &__header {
        background-color: darkslategray;
        min-height: 5em;
        padding: 2em;
        &__brand {
            color: white;
        }
    }

    &__main {
        // background-color:
    }

    &__tile {
        background-color: #fff;
        color: #000;
        border-radius: 0.5em;
        min-height: 5em;
        padding: 1em;
    }

    &__list {
        padding: 1em;
    }
}
