.header {
    min-height: 4em;
    border: 1px solid black;
}

.filters {
    display: flex;
    padding: 20px;
    justify-content: center;
    // align-content: space-between;
    // flex-direction: row;
}

.filterItem {
    max-width: 300px;
    padding: 10px;
}