.header {
    min-height: 4em;
    border: 1px solid black;
}

.filters {
    display: flex;
    justify-content: center;
    // flex-direction: row;
}

.sliderContainer {
    max-width: 300px;
    padding: 10px;
}